<!DOCTYPE html>
<html{html_attr}>
<head>{head}
    <style>
    /*
    rst2html5pdf

    A print style sheet to transform the output of rst2html5 into a PDF for slides.
    */

    * {{ -webkit-print-color-adjust: exact; }}

    body {{
        text-align: center;
    }}

    .note {{ display: none; }}

    .frame {{
        page-break-before: always;

        width: 100%;
        height: 100%;
        overflow: hidden;
    }}

    h1, h2, h3, h4, h5, h6 {{
        margin: 0;
        text-transform: uppercase;
        word-wrap: break-word;
    }}

    ol, dl, ul {{
        text-align: left;
        margin: 0 0 0 1em;
    }}

    pre {{
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }}

    p {{
        line-height: 1.3;
    }}

    /* Ensure elems no larger than the frame. */
    img, video, iframe {{
        max-width: 95%;
        max-height: 95%;
    }}

    .slide-background {{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }}

    .heading-img {{
        height: 2em;
        position: absolute;
        padding-left: 1em;
    }}

    .bigger {{
        font-size: larger;
    }}

    /* Fonts *********************************************************************/

    body {{
    font-size: 1.4375em;
    line-height: 1.391304348em;
    }}
    h1 {{
    font-size: 1.695652174em;
    line-height: 1.64102564em;
    margin-top: 1.64102564em;
    margin-bottom: 0.82051282em;
    }}
    h2 {{
    font-size: 1.434782609em;
    line-height: 1.939393938em;
    margin-top: 1.93939394em;
    margin-bottom: 0.96969697em;
    }}
    h3 {{
    font-size: 1.173913043em;
    line-height: 1.185185186em;
    margin-top: 1.18518519em;
    margin-bottom: 1.18518519em;
    }}
    h4 {{
    font-size: 1em;
    line-height: 1.391304348em;
    margin-top: 1.39130435em;
    margin-bottom: 1.39130435em;
    }}
    p, ul, ol, pre, table, blockquote {{
    margin-top: 1.39130435em;
    margin-bottom: 1.39130435em;
    }}

    /* Theme *********************************************************************/

    body {{
        background-color: #222;
        font-family: 'Source Sans Pro', Helvetica, sans-serif;
        color: #fff;
    }}

    h1, h2, h3, h4, h5, h6 {{
        color: #fff;
    }}

    pre {{
        font-family: Courier, 'Courier New', monospace;
        background: #3F3F3F;
        color: #DCDCDC;
    }}
    </style>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function(ev) {{
        var codeElems = document.querySelectorAll("pre.code");

        Array.prototype.forEach.call(codeElems, function(block) {{
            hljs.highlightBlock(block);
        }});
    }});
    </script>

</head>
<body><div class="container">{body}</div></body>
</html>
